@import './style.css';
@import 'bootstrap';
@import './customFloatingLabels.css';
/* @import './carousel.css'; */

:root{
    --navbar-h: 56px;
    --custom-primary: blueviolet;
    --custom-primary-blur: #71408963;


}