.pb-4_5 {
    padding-bottom: 2rem !important;
}

.py-6 {
    padding-block: 1.5rem !important;
}

.min-w-0{
    min-width: 0rem !important;
}

.text-custom-primary {
    color: var(--custom-primary);
}

.text-bg-custom-primary {
    background-color: var(--custom-primary);
}

.border-primary-custom {
    border-color: var(--custom-primary-opaque) !important;
}

.profile-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.custom-img-mascotte{
    width: 50% !important;
    height: auto !important;

    @media screen and (min-width: 768px) {
        width: 15% !important;
    }
}

.custom-max-w{
    max-width: 28vw;
}

.custom-max-h-card{
    max-height: 200px;
}

#logo-img{
    width: 12rem;
    
    max-height: var(--navbar-h);
    height: auto;
    
}
.custom-h-56-px {
    height: var(--navbar-h);
}

.custom-margin-body {
    margin-top: var(--navbar-h);
}

.custom-min-vh {
    min-height: calc(100vh - var(--navbar-h));
}

.custom-circle {
    width: 2rem;
    height: 2rem;

    @media screen and (min-width: 756px) {
        width: 3rem;
        height: 3rem;
    }

    ;
}

.theme-svg {
    transform: scale(3.5);

    @media screen and (min-width: 756px) {
        transform: scale(1.5);
    }

}

button:focus .animate-vanish {
    animation: theme-animation-vanish 400ms linear infinite forwards;
}

.animate-appear {
    animation: theme-animation-appear 200ms linear forwards;
}

.custom-border-bottom {
    border-bottom: 1px solid var(--custom-primary);
}

.btn-custom-primary {
    background-color: var(--custom-primary) !important;
    border-color: var(--custom-primary) !important;
    outline-color: var(--custom-primary) !important;
    color: white !important;
}


.hover-bg-danger:hover {
    background-color: var(--bs-red) !important;
}


.hover-text-light:hover {
    color: var(--bs-light) !important;
}

.justify-self-end {
    justify-self: end !important;
}

.custom-card-size {
    width: 18rem;
    height: 26rem !important;
}

.page-link {
    color: var(--custom-primary) !important;
}

.page-item.active .page-link {
    color: #fff !important;
    background: var(--custom-primary) !important;
    border-color: var(--custom-primary-dark) !important;
    outline: none !important;

}

.page-link:focus {
    box-shadow: 0px 0px 0px 3px var(--custom-primary-opaque) !important;

}

.shadow-primary {
    box-shadow: 0 0rem 1.5rem var(--custom-primary-opaque);
}

.custom-footer-img-h {
    height: 14rem;
    ;
}

.square-dashboard-img {
    aspect-ratio: 1/1;
    width: var(--square-img);
    height: var(--square-img);
}

#clickAreaProfileImage:hover img {
    opacity: 0.3;
}

#clickAreaProfileImage:hover {
    opacity: unset !important;
    border: .3rem dashed whitesmoke !important;

}

#clickAreaProfileImage:hover label {
    opacity: unset !important;
}

#review-section {
    word-wrap: break-word;
}

@keyframes theme-animation-vanish {
    100% {
        rotate: 360deg;
    }

}

@keyframes theme-animation-appear {
    0% {
        opacity: 100;
    }

    100% {
        rotate: 360deg;
        opacity: 100;
    }

}


.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 120px;
}